// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_email {
	#email_templates {
		margin-bottom: 20px;	
	}

	.email_template {
		padding: 5px;
		float: left;
		width: 200px;
		border: 1px dotted black;
		margin-left: 5px;
	}
}